<!doctype HTML>
<html>
	<head>
		<script type="text/javascript" src="p5.js"></script>
		<script type="text/javascript" src="p5.sound.js"></script>
		<link rel="stylesheet" type="text/css" href="style.css"></script>
	</head>
	<body>	
		<h1 class="title">RTA TEST 1</h1>
		<div class="main">
			<script type="text/javascript" src="sketch.js"></script>
			<div id="level"></div>
			<div id="maxlevel"></div>
			<div id="vu"></div>
			<div id="vumax"></div>
			<div id="bgcolor"></div>
			Bass: <div id="bass"></div>
			Treble: <div id="treble"></div>
		</div>
	</body>
</html>